<mat-toolbar class="toolbar">
    <span class="toolbar__title" routerLink="/">PantryPal</span>
    <form [formGroup]="searchForm" class="search-bar">
        <input type="text" id="search-bar" [placeholder]="'SEARCH_PLACEHOLDER' | translate" aria-label="Search a recipe." formControlName="search">
        <button (click)="submitSearch('desktop')">
            <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
        </button>
    </form>
    <div class="full-menu">
        <button mat-button routerLink="/shopping/list">{{ 'GROCERY_LIST' | translate }}</button>

        <button mat-button [matMenuTriggerFor]="recipesMenu">
            {{ 'RECIPES' | translate }}
            <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #recipesMenu="matMenu">
            <button mat-menu-item routerLink="/recipe/list">{{ 'RECIPE_LIST' | translate }}</button>
            <button mat-menu-item routerLink="/recipe/create">{{ 'CREATE_RECIPE' | translate }}</button>
        </mat-menu>

        <button mat-button [routerLink]="isLogged ? '/profile' : '/auth/login'">
            <fa-icon [icon]="faUser"></fa-icon>
        </button>
    </div>

    <button mat-button class="hamburger-button" (click)="toggleDropdownMenu()">
        <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>

<div *ngIf="isDropdownMenuOpen" class="dropdown-menu">
    <div class="dropdown-content">
        <form [formGroup]="searchForm" class="search-bar">
            <input type="text" [placeholder]="'SEARCH_PLACEHOLDER' | translate" aria-label="Search a recipe." formControlName="search">
            <button (click)="submitSearch('mobile')">
                <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
            </button>
        </form>
        <button mat-button routerLink="/shopping/list" (click)="toggleDropdownMenu()">{{ 'GROCERY_LIST' | translate }}</button>
        <button mat-button routerLink="/recipe/list" (click)="toggleDropdownMenu()">{{ 'RECIPE_LIST' | translate }}</button>
        <button mat-button routerLink="/recipe/create" (click)="toggleDropdownMenu()">{{ 'CREATE_RECIPE' | translate }}</button>
        <button mat-button [routerLink]="isLogged ? '/profile' : '/auth/login'" (click)="toggleDropdownMenu()">
            <fa-icon [icon]="faUser"></fa-icon>
            {{ (isLogged ? 'PROFILE' : 'LOGIN') | translate }}
        </button>
    </div>
</div>