<mat-toolbar class="toolbar" *ngIf="!isMobile">
    <span class="toolbar__title" routerLink="/">PantryPal</span>
    <app-search class="search-bar" (onSearch)="handleSearch($event, 'desktop')"></app-search>
    
    <div class="desktop-menu">
        <button mat-button routerLink="/shopping/list">{{ 'GROCERY_LIST' | translate }}</button>
        <button mat-button routerLink="/favorites">{{ 'FAVORITES' | translate }}</button>
        <button mat-button [routerLink]="isLogged ? '/profile' : '/auth/login'">
            <fa-icon [icon]="faUser"></fa-icon>
        </button>
    </div>
</mat-toolbar>

<div *ngIf="isMobile && isRecipeListRoute" class="mobile-search-container">
    <app-search class="search-bar" (onSearch)="handleSearch($event, 'mobile')"></app-search>
</div>

<nav *ngIf="isMobile" class="mobile-menu">
    <button mat-button routerLink="/recipe/list" routerLinkActive="active">
        <fa-icon [icon]="faUtensils"></fa-icon>
    </button>
    <button mat-button routerLink="/shopping/list" routerLinkActive="active">
        <fa-icon [icon]="faCartShopping"></fa-icon>
    </button>
    <button mat-button routerLink="/favorites" routerLinkActive="active">
        <fa-icon [icon]="faHeart"></fa-icon>
    </button>
    <button mat-button [routerLink]="isLogged ? '/profile' : '/auth/login'" routerLinkActive="active">
        <fa-icon [icon]="faUser"></fa-icon>
    </button>
</nav>