<mat-toolbar class="toolbar" *ngIf="!isMobile">
    <span class="toolbar__title" routerLink="/">PantryPal</span>
    <app-search class="search-bar" (onSearch)="handleSearch($event, 'desktop')"></app-search>
    
    <div class="desktop-menu">
        <button mat-button routerLink="/shopping/list" routerLinkActive="active">{{ 'GROCERY_LIST' | translate }}</button>
        <button mat-button routerLink="/favorites" routerLinkActive="active">{{ 'FAVORITES' | translate }}</button>
        <button mat-button [routerLink]="authService.isAuthenticated() ? '/profile' : '/auth/login'" routerLinkActive="active">
            <mat-icon svgIcon="account_circle"></mat-icon>
        </button>
    </div>
</mat-toolbar>

<div *ngIf="isMobile && isRecipeListRoute" class="mobile-search-container">
    <app-search class="search-bar" (onSearch)="handleSearch($event, 'mobile')"></app-search>
</div>

<nav *ngIf="isMobile" class="mobile-menu">
    <button mat-button routerLink="/recipe/list" routerLinkActive="active">
        <mat-icon svgIcon="skillet"></mat-icon>
    </button>
    <button mat-button routerLink="/shopping/list" routerLinkActive="active">
        <mat-icon svgIcon="shopping_cart"></mat-icon>
    </button>
    <button mat-button routerLink="/favorites" routerLinkActive="active">
        <mat-icon svgIcon="favorite"></mat-icon>
    </button>
    <button mat-button [routerLink]="authService.isAuthenticated() ? '/profile' : '/auth/login'" routerLinkActive="active">
        <mat-icon svgIcon="account_circle"></mat-icon>
    </button>
</nav>