<button class="add-button" 
        (click)="addRecipeToShoppingList(recipe.id); $event.stopPropagation()"
        [@buttonClick]="buttonState"
        (@buttonClick.done)="onAnimationDone()">
    <div class="icon-container">
        <fa-icon [icon]="faCartShopping" 
                [@iconAnimation]="isRecipeInShoppingList(recipe.id) ? 'visible' : 'hidden'"
                class="cart-icon">
        </fa-icon>
        <fa-icon [icon]="faCartPlus" 
                [@iconAnimation]="!isRecipeInShoppingList(recipe.id) ? 'visible' : 'hidden'">
        </fa-icon>
    </div>
</button>