<button class="add-button" 
        (click)="addRecipeToShoppingList(recipe.id); $event.stopPropagation()"
        [@buttonClick]="buttonState"
        (@buttonClick.done)="onAnimationDone()">
    <div class="icon-container">
        <mat-icon svgIcon="shopping_cart" 
                [@iconAnimation]="isRecipeInShoppingList(recipe.id) ? 'visible' : 'hidden'"
                class="cart-icon">
        </mat-icon>
        <mat-icon svgIcon="add_shopping_cart" 
                [@iconAnimation]="!isRecipeInShoppingList(recipe.id) ? 'visible' : 'hidden'">
        </mat-icon>
    </div>
</button>