<div class="sharing-buttons">
    <button mat-icon-button [matMenuTriggerFor]="shareMenu">
        <mat-icon svgIcon="share"></mat-icon>
    </button>
    <mat-menu #shareMenu="matMenu">
        <button mat-menu-item (click)="downloadPDF()">
            <mat-icon svgIcon="picture_as_pdf"></mat-icon>
            <span>{{ 'DOWNLOAD_PDF' | translate }}</span>
        </button>
        <button mat-menu-item *ngIf="isWebShareSupported" (click)="shareContent()">
            <mat-icon svgIcon="share"></mat-icon>
            <span>{{ 'SHARE' | translate }}</span>
        </button>
    </mat-menu>
</div>