<div class="sharing-buttons">
    <button mat-icon-button [matMenuTriggerFor]="shareMenu">
        <fa-icon [icon]="faShare"></fa-icon>
    </button>
    <mat-menu #shareMenu="matMenu">
        <button mat-menu-item (click)="shareOnWhatsApp()">
            <fa-icon [icon]="faWhatsapp"></fa-icon>
            <span>Share on WhatsApp</span>
        </button>
        <button mat-menu-item (click)="downloadPDF()">
            <fa-icon [icon]="faFilePdf"></fa-icon>
            <span>Download PDF</span>
        </button>
        <button mat-menu-item *ngIf="isWebShareSupported" (click)="shareContent()">
            <fa-icon [icon]="faShareNodes"></fa-icon>
            <span>Share</span>
        </button>
    </mat-menu>
</div>