/* CSS to create off-canvas behavior */
.off-canvas {
    display: grid;
    grid-template-columns: minmax(0, 300px) minmax(0, 1fr);
    left: -100%;
    /* Start off-canvas hidden */
    width: 100vw;
    position: fixed;
    top: 0;
    height: 100%;
    transition: left 0.3s ease-in-out, opacity 0.3s ease-in-out;
    /* Add opacity transition */
    opacity: 0;
    /* Start off-canvas hidden */
    overflow-y: auto;

    mat-form-field {
        width: 100%;
    }

    .filters {
        width: 100%;
        max-width: 300px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

        display: grid;
        // grid-template-rows: auto auto auto 1fr;
        // /* 'auto' for mat-form-field, '1fr' for selection-list-container, and 'auto' for the buttons */
        align-items: center;
        height: 100%;
        grid-gap: 20px;
    }

    .filters-form {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        height: auto;
        max-height: 300px;
        /* Set a maximum height to limit the height of mat-form-field */
        overflow-y: hidden;
        /* Hide the overflow for the form container */
        border-top: 1px solid #9e9e9e;

        form {
            width: 100%;
        }
    }

    .selection-list-container {
        height: 100%;
        width: 100%;
        overflow-y: auto;
    }

    .background-overlay {
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }
}

/* Show the off-canvas when the 'visible' input is true */
.off-canvas.visible {
    left: 0;
    /* Slide in the off-canvas from the left */
    opacity: 1;
    /* Fade in the off-canvas */
}

@media screen and (max-width: 768px) {
    .off-canvas.visible {
        grid-template-columns: 1fr;

        .background-overlay {
            display: none;
        }

        .filters {
            max-width: 100%;
        }
    }
}

.action-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
}

.filter-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 5px;
    max-width: 100%;
    overflow-x: auto;
}

.selected-items-container {
    max-width: 100%;
    overflow-x: auto;

    .selected-items {
        display: flex;
        flex-wrap: nowrap;
        min-width: fit-content;
        column-gap: 5px;
        margin: 10px 5px;
        white-space: nowrap;
    }
}

.mat-accordion {
    max-width: 300px;

    @media screen and (max-width: 768px) {
        max-width: 100%;
    }
}