<div class="main-container">
  <form [formGroup]="recipeForm" class="container">
    <app-book-form [recipeForm]="recipeForm" (bookSelected)="handleBookSelected($event)" class="full-width"></app-book-form>

    <div formGroupName="recipe" class="full-width">
      <mat-form-field>
        <mat-label>Title of the recipe</mat-label>
        <input matInput placeholder="Title of the recipe" aria-label="Title of the recipe" required
          formControlName="title" class="recipe-title">
        <mat-error *ngIf="recipeForm.get('recipe.title')?.invalid && recipeForm.get('recipe.title')?.touched">Title is
          required.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Preparation time</mat-label>
        <div class="time-unit-container">
          <input matInput type="number" inputmode="numeric" placeholder="Preparation time" aria-label="Preparation time"
            formControlName="preparationTime">
          <mat-select placeholder="Unit" aria-label="Unit" required formControlName="preparationUnit">
            <mat-option value="min">Minutes</mat-option>
            <mat-option value="h">Hours</mat-option>
          </mat-select>
          <mat-error
            *ngIf="recipeForm.get('recipe.preparationTime')?.invalid && recipeForm.get('recipe.preparationTime')?.touched">Preparation
            time is required.</mat-error>
        </div>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Cooking time</mat-label>
        <div class="time-unit-container">
          <input matInput type="number" inputmode="numeric" placeholder="Cooking time" aria-label="Cooking time" formControlName="cookingTime">
          <mat-select placeholder="Unit" aria-label="Unit" required formControlName="cookingUnit">
            <mat-option value="min">Minutes</mat-option>
            <mat-option value="h">Hours</mat-option>
          </mat-select>
          <mat-error
            *ngIf="recipeForm.get('recipe.cookingTime')?.invalid && recipeForm.get('recipe.cookingTime')?.touched">Cooking
            time is required.</mat-error>
        </div>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Fridge time</mat-label>
        <div class="time-unit-container">
          <input matInput type="number" inputmode="numeric" placeholder="Fridge time" aria-label="Fridge time" formControlName="fridgeTime">
          <mat-select placeholder="Unit" aria-label="Unit" required formControlName="fridgeUnit">
            <mat-option value="min">Minutes</mat-option>
            <mat-option value="h">Hours</mat-option>
          </mat-select>
          <mat-error
            *ngIf="recipeForm.get('recipe.fridgeTime')?.invalid && recipeForm.get('recipe.fridgeTime')?.touched">Fridge
            time is required.</mat-error>
        </div>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Waiting time</mat-label>
        <div class="time-unit-container">
          <input matInput type="number" inputmode="numeric" placeholder="Waiting time" aria-label="Waiting time" formControlName="waitingTime">
          <mat-select placeholder="Unit" aria-label="Unit" required formControlName="waitingUnit">
            <mat-option value="min">Minutes</mat-option>
            <mat-option value="h">Hours</mat-option>
          </mat-select>
          <mat-error
            *ngIf="recipeForm.get('recipe.waitingTime')?.invalid && recipeForm.get('recipe.waitingTime')?.touched">Waiting
            time is required.</mat-error>
        </div>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Instructions for the recipe</mat-label>
        <textarea matInput placeholder="Instructions for the recipe" aria-label="Instructions for the recipe" rows="3" required
          formControlName="instructions"></textarea>
        <mat-error
          *ngIf="recipeForm.get('recipe.instructions')?.invalid && recipeForm.get('recipe.instructions')?.touched">Instructions
          are required.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Notes for the recipe</mat-label>
        <textarea matInput placeholder="Notes for the recipe" aria-label="Notes for the recipe"
          formControlName="notes" rows="3"></textarea>
        <mat-error
          *ngIf="recipeForm.get('recipe.notes')?.invalid && recipeForm.get('recipe.notes')?.touched">Notes
          are required.</mat-error>
      </mat-form-field>
    </div>

    <app-ingredient-form class="full-width" [recipeForm]="recipeForm"></app-ingredient-form>

    <div class="button-container">
      <button mat-raised-button color="primary" (click)="submitForm()">Submit</button>
    </div>
  </form>
</div>