.timer-container {
    border-radius: 4px;
    min-height: 109px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #FDE7E2;
    box-shadow: 0 2px 4px #0003;
}

.action-buttons {
    display: flex;
    column-gap: 2rem;
}

.timer {
    font-size: 1.5rem;
    font-weight: bold;
}