<div class="timer-container">
    <div class="timer">{{ displayTime }}</div>
    <div class="timer-controls">
        <button mat-icon-button (click)="startTimer()" [disabled]="timerRunning">
            <span class="material-symbols-outlined">play_arrow</span>
        </button>
        <button mat-icon-button (click)="pauseTimer()" [disabled]="!timerRunning">
            <span class="material-symbols-outlined">pause</span>
        </button>
        <button mat-icon-button (click)="stopTimer()">
            <span class="material-symbols-outlined">stop</span>
        </button>
    </div>
</div>