<div class="sharing-buttons">
  <button mat-icon-button [matMenuTriggerFor]="shareMenu">
    <span class="material-symbols-outlined">more_vert</span>
  </button>
  <mat-menu #shareMenu="matMenu">
    <button mat-menu-item (click)="downloadPDF()">
      <span class="material-symbols-outlined">picture_as_pdf</span>
      <span>{{ 'DOWNLOAD_PDF' | translate }}</span>
    </button>
    @if (isWebShareSupported) {
      <button mat-menu-item (click)="shareContent()">
        <span class="material-symbols-outlined">share</span>
        <span>{{ 'SHARE' | translate }}</span>
      </button>
    }
    <button mat-menu-item (click)="manageSharing()">
      <span class="material-symbols-outlined">people</span>
      <span>{{ 'MANAGE_SHARING' | translate }}</span>
    </button>
  </mat-menu>
</div>