.sharing-buttons {
    display: flex;
    justify-content: flex-end;

    button {
        background-color: transparent;
        border: none;
        /* ensure icon inside mat-icon-button is centered */
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        padding: 0;
        border-radius: 0.25rem;
        margin-right: 0.5rem;
    }
}

::ng-deep .mat-mdc-menu-item-text {
    display: flex;
    column-gap: 10px;
    align-items: center;
}