.sharing-buttons {
    display: flex;
    justify-content: flex-end;

    button {
        background-color: transparent;
        border: none;
        padding: 0.5rem;
        border-radius: 0.25rem;
        margin-right: 0.5rem;
    }
}

::ng-deep .mat-mdc-menu-item-text {
    display: flex;
    column-gap: 10px;
    align-items: center;
}