<div class="login-container">
  <div *ngIf="authService.isAuthenticated()">
    <mat-card>
      <mat-card-title>
        {{ 'WELCOME' | translate }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ 'WELCOME_SUBTITLE' | translate }}
      </mat-card-subtitle>
      <mat-card-actions>
        <button mat-raised-button color="accent" routerLink="/">
          {{ 'VIEW_RECIPES' | translate }}
        </button>
        <button mat-raised-button color="primary" (click)="onLogout()">
          {{ 'LOGOUT' | translate }}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div *ngIf="!authService.isAuthenticated()">
    <div class="form-container">
      <h1>{{ 'LOGIN' | translate }}</h1>
      <div class="auth-buttons">
        <button mat-raised-button color="primary" (click)="onLoginClick()">
          {{ 'LOGIN' | translate }}
        </button>
        <button mat-raised-button color="accent" (click)="onRegisterClick()">
          {{ 'SIGN_UP' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>