<ng-container *ngIf="error; else recipeDetails">
    <mat-card>
        <mat-card-content>
            <p class="instructions">You are not authorized to view the recipe data.</p>
            <div class="card-button">
                <button mat-raised-button color="primary" routerLink="/auth/login">Login</button>
            </div>
        </mat-card-content>
    </mat-card>
</ng-container>

<ng-template #recipeDetails>
    <div class="main-container">
        <mat-card>
            <div class="option-buttons">
                <app-add-to-shopping-list [recipe]="recipe"></app-add-to-shopping-list>
                <app-share-options [recipe]="recipe"></app-share-options>
            </div>

            <mat-card-title class="card-title">{{ recipe?.title }}</mat-card-title>
            <mat-card-subtitle class="card-subtitle" *ngIf="recipe?.typeOfMeal">
                [ {{ recipe?.typeOfMeal }} ]
            </mat-card-subtitle>
            <mat-card-subtitle class="card-subtitle">
                <span class="book-title">{{ recipe?.Book?.title }} </span> by {{ recipe?.Book?.author }}
            </mat-card-subtitle>
            <mat-card-content class="card-content">

                <div class="time-container">
                    <ng-container *ngFor="let element of recipeTime; let i = index">
                        <ng-container *ngIf="!element.showTimer">
                            <mat-card (click)="toggleTimer(element)">
                                <mat-card-title>{{ element.name }}</mat-card-title>
                                <mat-card-content>
                                    <ng-container *ngIf="element.unit === 'h'; else defaultFormat">
                                        {{ getHours(element.time) }}h {{ getMinutes(element.time) }}min
                                    </ng-container>
                                    <ng-template #defaultFormat>
                                        {{ element.time | number:'1.0-2' }} {{ element.unit }}
                                    </ng-template>
                                </mat-card-content>
                            </mat-card>
                        </ng-container>

                        <ng-container *ngIf="element.showTimer">
                            <div class="timer-container">
                                <app-timer [timerInfo]="createTimerState(element)"></app-timer>
                                <button mat-icon-button class="timer-button" (click)="toggleTimer(element)">
                                    <mat-icon>close</mat-icon>
                                </button>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>


                <mat-card>
                    <mat-card-title>Ingredients</mat-card-title>
                    <mat-card-content>
                        <table mat-table [dataSource]="recipe?.Ingredients">
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef>Name</th>
                                <td mat-cell *matCellDef="let ingredient">{{ ingredient.name }}</td>
                            </ng-container>
                            <ng-container matColumnDef="quantity">
                                <th mat-header-cell *matHeaderCellDef>Quantity</th>
                                <td mat-cell *matCellDef="let ingredient">{{ ingredient.quantity | number:'1.0-2' }} {{
                                    ingredient.unit }}</td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="['name', 'quantity']"></tr>
                            <tr mat-row *matRowDef="let row; columns: ['name', 'quantity']"></tr>
                        </table>
                    </mat-card-content>
                </mat-card>

                <mat-card>
                    <mat-card-title>Instructions</mat-card-title>
                    <mat-card-content>
                        <ng-container *ngFor="let instruction of isolatedInstructions; let last = last">
                            <p>
                                {{ instruction }}
                            </p>
                            <mat-divider *ngIf="!last"></mat-divider>
                        </ng-container>
                    </mat-card-content>
                </mat-card>

                <mat-card *ngIf="recipe?.notes">
                    <mat-card-title>Notes</mat-card-title>
                    <mat-card-content>
                        <p class="instructions">{{ recipe?.notes }}</p>
                    </mat-card-content>
                </mat-card>

                <div class="card-button">
                    <button mat-raised-button color="primary" routerLink="/recipe/update/{{ recipe?.id }}">
                        Update
                    </button>
                    <button mat-stroked-button color="basic" routerLink="/recipe/list">
                        <fa-icon [icon]="faArrowLeft"></fa-icon>
                    </button>
                    <button mat-raised-button color="warn" (click)="deleteRecipe()">
                        <fa-icon [icon]="faTrash"></fa-icon>
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</ng-template>