mat-card {
  margin: 0 auto;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  padding: 16px;
  width: 100%;
  max-width: 800px;
}

mat-card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

mat-card-subtitle {
  font-size: 16px;
  margin-bottom: 16px;
}

mat-card-content {
  font-size: 14px;
}

table {

  th,
  td {
    text-align: center;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin-bottom: 8px;
}

li:before {
  content: "•";
  margin-right: 8px;
}

.instructions {
  white-space: pre-wrap;
}

.card-button {
  display: flex;
  justify-content: space-between;
}

.card-title,
.card-subtitle {
  text-align: center;
}

.card-title {
  font-size: 32px;
}

.time-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  grid-gap: 20px;
  text-align: center;

  .mat-mdc-card {
    cursor: pointer;
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.option-buttons {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 20px;
}

.book-title {
  font-style: italic;
}