<ng-container *ngIf="!error; else notAuthorizedCard">
    <div class="main-container">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()" class="container">
            <mat-form-field>
                <mat-label>Book Title</mat-label>
                <input matInput placeholder="Book Title" formControlName="bookTitle" (input)="onInput()">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Book Author</mat-label>
                <input matInput placeholder="Book Author" formControlName="bookAuthor" (input)="onInput()">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput placeholder="Title" formControlName="title" (input)="onInput()">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Type of Meal</mat-label>
                <mat-select placeholder="Type of Meal" formControlName="typeOfMeal" (input)="onInput()">
                    <mat-option value="starter">Starter</mat-option>
                    <mat-option value="main-course">Main course</mat-option>
                    <mat-option value="dessert">Dessert</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Preparation Time</mat-label>
                <div class="time-unit-container">
                    <input matInput placeholder="Preparation Time" formControlName="preparationTime"
                        (input)="onInput()">
                    <mat-select placeholder="Unit" formControlName="preparationUnit" (input)="onInput()">
                        <mat-option value="min">Minutes</mat-option>
                        <mat-option value="h">Hours</mat-option>
                    </mat-select>
                </div>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Cooking Time</mat-label>
                <div class="time-unit-container">
                    <input matInput placeholder="Cooking Time" formControlName="cookingTime" (input)="onInput()">
                    <mat-select placeholder="Unit" formControlName="cookingUnit" (input)="onInput()">
                        <mat-option value="min">Minutes</mat-option>
                        <mat-option value="h">Hours</mat-option>
                    </mat-select>
                </div>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Fridge Time</mat-label>
                <div class="time-unit-container">
                    <input matInput placeholder="Fridge Time" formControlName="fridgeTime" (input)="onInput()">
                    <mat-select placeholder="Unit" formControlName="fridgeUnit" (input)="onInput()">
                        <mat-option value="min">Minutes</mat-option>
                        <mat-option value="h">Hours</mat-option>
                    </mat-select>
                </div>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Waiting Time</mat-label>
                <div class="time-unit-container">
                    <input matInput placeholder="Waiting Time" formControlName="waitingTime" (input)="onInput()">
                    <mat-select placeholder="Unit" formControlName="waitingUnit" (input)="onInput()">
                        <mat-option value="min">Minutes</mat-option>
                        <mat-option value="h">Hours</mat-option>
                    </mat-select>
                </div>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Instructions</mat-label>
                <textarea matInput placeholder="Instructions" formControlName="instructions" rows="5"
                    (input)="onInput()"></textarea>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Notes</mat-label>
                <textarea matInput placeholder="Notes" formControlName="notes" rows="5" (input)="onInput()"></textarea>
            </mat-form-field>

            <!-- Ingredients -->
            <div formArrayName="ingredients" class="ingredient-container">
                <div *ngFor="let ingredient of ingredients.controls; let i = index" [formGroupName]="i"
                    class="ingredient-row">
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Ingredient Name" formControlName="name">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Quantity</mat-label>
                        <input matInput placeholder="Quantity" inputmode="numeric" formControlName="quantity">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Unit</mat-label>
                        <input matInput placeholder="Unit" formControlName="unit">
                    </mat-form-field>
                    <button mat-icon-button color="warn" (click)="removeIngredient(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>

            <div class="button-container">
                <button mat-raised-button color="accent" type="button" (click)="addIngredient()">
                    Add Ingredient
                </button>
                <button mat-stroked-button color="basic" type="button" routerLink="/recipe/detail/{{ recipe?.id }}">
                    Cancel
                </button>
                <button mat-raised-button color="primary" type="submit" [disabled]="!isFormModified">
                    Submit
                </button>
            </div>
        </form>
    </div>
</ng-container>

<ng-template #notAuthorizedCard>
    <!-- Not Authorized Card -->
    <mat-card>
        <mat-card-content>
            <p class="instructions">You are not authorized to view the recipe data.</p>
            <div class="card-button">
                <button mat-raised-button color="primary" routerLink="/auth/login">Login</button>
            </div>
        </mat-card-content>
    </mat-card>
</ng-template>