<div class="timer-container">
    <div class="timer">{{ displayTime }}</div>
    <div class="timer-controls">
        <button mat-icon-button (click)="startTimer()" [disabled]="timerRunning">
            <mat-icon>play_arrow</mat-icon>
        </button>
        <button mat-icon-button (click)="pauseTimer()" [disabled]="!timerRunning">
            <mat-icon>pause</mat-icon>
        </button>
        <button mat-icon-button (click)="stopTimer()">
            <mat-icon>stop</mat-icon>
        </button>
    </div>
</div>