@if (!isMobile) {
<mat-toolbar class="toolbar">
  <span class="toolbar__title" routerLink="/">PantryPal</span>
  <app-search
    class="search-bar"
    (searchTriggered)="handleSearch($event, 'desktop')"
  ></app-search>
  <div class="desktop-menu">
    <button
      mat-button
      routerLink="/shopping/list"
      routerLinkActive="active"
      [matTooltip]="'GROCERY_LIST' | translate"
      [attr.aria-label]="'GROCERY_LIST' | translate"
    >
      <span class="material-symbols-outlined"> shopping_cart </span>
    </button>
    <button
      mat-button
      routerLink="/recipe/create"
      routerLinkActive="active"
      [matTooltip]="'ADD_RECIPE' | translate"
      [attr.aria-label]="'ADD_RECIPE' | translate"
    >
      <span class="material-symbols-outlined"> add_circle </span>
    </button>
    <button
      mat-button
      [routerLink]="authService.isAuthenticated() ? '/profile' : '/auth/login'"
      routerLinkActive="active"
      [matTooltip]="'PROFILE' | translate"
      [attr.aria-label]="'PROFILE' | translate"
    >
      <span class="material-symbols-outlined"> account_circle </span>
    </button>
  </div>
</mat-toolbar>
} @if (isMobile && isRecipeListRoute) {
<div class="mobile-search-container">
  <app-search
    class="search-bar"
    (searchTriggered)="handleSearch($event, 'mobile')"
  ></app-search>
</div>
} @if (isMobile) {
<nav class="mobile-menu">
  <button mat-button routerLink="/recipe/list" routerLinkActive="active">
    <span class="material-symbols-outlined mobile-icon"> skillet </span>
  </button>
  <button mat-button routerLink="/shopping/list" routerLinkActive="active">
    <span class="material-symbols-outlined mobile-icon"> shopping_cart </span>
  </button>
  <button mat-button routerLink="/recipe/create" routerLinkActive="active">
    <span class="material-symbols-outlined mobile-icon"> add_circle </span>
  </button>
  <button
    mat-button
    [routerLink]="authService.isAuthenticated() ? '/profile' : '/auth/login'"
    routerLinkActive="active"
  >
    <span class="material-symbols-outlined mobile-icon"> account_circle </span>
  </button>
</nav>
}
