<div [formGroup]="bookForm">
    <mat-radio-group formControlName="bookSelection" class="book-form-header">
        <mat-radio-button value="existing">Select an existing book</mat-radio-button>
        <mat-radio-button value="new">Add a new book</mat-radio-button>
    </mat-radio-group>

    <div *ngIf="bookForm.get('bookSelection')?.value === 'existing'" class="full-width">
        <mat-form-field class="full-width">
            <mat-label>Select a book</mat-label>
            <mat-select formControlName="id" (selectionChange)="onBookSelectionChange()">
                <mat-option *ngFor="let book of bookList" [value]="book.id">{{ book.title }} by {{ book.author
                    }}</mat-option>
            </mat-select>
            <mat-error *ngIf="bookForm.get('id')?.invalid && bookForm.get('id')?.touched">
                Book selection is required.
            </mat-error>
        </mat-form-field>
    </div>

    <div *ngIf="bookForm.get('bookSelection')?.value === 'new'" class="full-width new-book-container">
        <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" placeholder="Enter book title" aria-label="Title of the book"
                required (change)="onBookSelectionChange()">
            <mat-error *ngIf="bookForm.get('title')?.invalid && bookForm.get('title')?.touched">
                Title is required.
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Author</mat-label>
            <input matInput formControlName="author" placeholder="Enter author" aria-label="Author of the book" required
                (change)="onBookSelectionChange()">
            <mat-error *ngIf="bookForm.get('author')?.invalid && bookForm.get('author')?.touched">
                Author is required.
            </mat-error>
        </mat-form-field>
    </div>
</div>