<div class="list-container">
    <div class="filter-container">
        <button mat-mini-fab class="btn-color-accent" (click)="toggleOffCanvas()">
            <mat-icon>filter_list</mat-icon>
        </button>
        <button mat-mini-fab class="btn-color-accent" (click)="onReset()">
            <mat-icon>refresh</mat-icon>
        </button>
    </div>
    <ng-container *ngIf="recipes && recipes.length > 0; else noRecipes">
        <div class="container">
            <div class="recipe-container">
                <mat-card *ngFor="let recipe of recipes" (click)="goToRecipeDetails(recipe.id)" class="recipe-card">
                    <mat-card-title>{{ recipe.title }}</mat-card-title>
                    <mat-card-subtitle *ngIf="recipe.Book">
                        {{ recipe.Book.title }} by {{ recipe.Book.author }}
                    </mat-card-subtitle>
                    <mat-card-actions align="end">
                        <div class="add-button-container">
                            <app-add-to-shopping-list [recipe]="recipe" [recipes]="recipes"></app-add-to-shopping-list>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="pagination-container">
                <mat-paginator
                    [length]="totalRecipes"
                    [pageSize]="pageSize"
                    [pageIndex]="currentPage"
                    [pageSizeOptions]="pageSizeOptions"
                    [showFirstLastButtons]="true"
                    (page)="handlePageEvent($event)"
                    aria-label="Select page">
                </mat-paginator>
            </div>
        </div>
    </ng-container>

    <ng-template #noRecipes>
        <div class="container">
            <div class="recipe-container">
                <mat-card class="recipe-card">
                    <mat-card-title>
                        No recipes found
                    </mat-card-title>
                    <mat-card-subtitle>
                        Try changing your filters
                    </mat-card-subtitle>
                </mat-card>
            </div>
        </div>
    </ng-template>
</div>

<button mat-fab class="fab-button" (click)="createRecipe()">
    <mat-icon>add</mat-icon>
</button>

<app-filters [visible]="showOffCanvas" (filtersSelected)="onFiltersSelect($event)"
    (dismissFiltersEvent)="toggleOffCanvas()"></app-filters>