<div class="list-container">
    <div class="filter-container">
        <button mat-mini-fab color="primary" (click)="toggleOffCanvas()">
            <mat-icon>filter_list</mat-icon>
        </button>
        <button mat-mini-fab color="primary" (click)="onReset()">
            <mat-icon>refresh</mat-icon>
        </button>
    </div>
    <ng-container *ngIf="recipes.length > 0; else noRecipes">
        <div class="container">
            <div class="recipe-container">
                <mat-card *ngFor="let recipe of recipes" (click)="goToRecipeDetails(recipe.id)" class="recipe-card">
                    <mat-card-title>{{ recipe.title }}</mat-card-title>
                    <mat-card-subtitle>{{ recipe.Book.title }} by {{ recipe.Book.author }}</mat-card-subtitle>
                    <mat-card-actions align="end" class="add-button-container">
                        <app-add-to-shopping-list [recipe]="recipe" [recipes]="recipes"></app-add-to-shopping-list>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="pagination-container">
                <div class="pagination">
                    <button mat-icon-button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">
                        <mat-icon>chevron_left</mat-icon>
                    </button>

                    <span class="current-page">{{ currentPage }}</span>

                    <button mat-icon-button (click)="onPageChange(currentPage + 1)"
                        [disabled]="recipes.length < itemsPerPage">
                        <mat-icon>chevron_right</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-template #noRecipes>
        <p>You are not authorized to view the recipe data.</p>
    </ng-template>
</div>

<app-filters [visible]="showOffCanvas" (bookSelected)="onBookSelect($event)" (dismissFiltersEvent)="toggleOffCanvas()"></app-filters>