.book-form-header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    @media screen and (max-width: 768px) {
        margin-bottom: 10px;
    }
}

.full-width {
    width: 100%;
}

.new-book-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 20px;
}